@page
@model KretaRazorPages.Pages.Menu.Subject.CreateModel

<form method="post">
     <div class="border p-3 mt-4">
         <div class="row pb-2"
            <h2 class="text-primary pl-3">Új tantárgy adatai:</h2>
            <hr />
          </div>
         <div class="mb-3">
            Név
            <input type="text" name="subjectName" />
         </div>
         <button type="submit" class="btn btn-primary">Mentés</button>
     </div>
</form>