@page
@model KretaRazorPages.Pages.Menu.SubjectMenu.DeleteModel
@{
}

<form method="post">
     <div class="border p-3 mt-4">
         <div class="row pb-2"
            <h2 class="text-primary pl-3">Delete subject</h2>
            <hr />
          </div>
          <div asp-validation-summary="All"></div>         
          <div class="mb-3">
            <label asp-for="Subject.Id"></label>
            <input asp-for="Subject.Id" type="text" readonly/>
         </div>
         <div class="mb-3">
            <label asp-for="Subject.SubjectName"></label>
            <input asp-for="Subject.SubjectName" class="form-control" readonly/>
            <span asp-validation-for="Subject.SubjectName" class="text-danger"></span>
         </div>
         <input hidden asp-for="SubjectIdToModify" />
         <button type="submit" class="btn btn-danger">Delete</button>
         <a asp-page="/Menu/SubjectMenu/Index" class="btn btn-secondary">Back to list</a>
     </div>
</form>