@model KretaParancssoriAlkalmazas.Models.EFClass.EFSchoolClass

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<h1>Iskolai osztályok</h1>

