@page

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexModel> Localizer

@model IndexModel
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "/Pages/Shared/_Layout.cshtml";

}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>Az oldal célja a különbőző fejlesztéseim bemutatása.</p>
</div>
<p>Olvassa el a fejlesztéseim <a asp-page="/Menu/AboutMe/Index"> összefoglalóját.</a></p>






