@using Kreta.Models.DataModel
@model List<Subject>

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-10">
            <h2 class="text-primary">Tantárgyak</h2>
        </div>
        <div class="col-15 text-end">
            <a asp-page="/Menu/SubjectMenu/Create" class="btn btn-primary">                
               <i class="bi bi-pencil-square"></i> &nbsp;Új tantárgy
            </a>
        </div>
    </div>


    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id.
                </th>
                <th>
                    Név
                </th>
                <th>
                </th>

            </tr>

        </thead>
        <tbody>    
            @foreach (var subject in Model)
            {
                <tr>
                    <td width="30%">@subject.Id. </td>
                    <td width="50%">@subject.SubjectName</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="/Menu/SubjectMenu/Edit" asp-route-id="@subject.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
                            <a asp-page="/Menu/SubjectMenu/Delete" asp-route-id="@subject.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3"></i></a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>