@page
@{
    ViewData["Title"] = "Magamról";
    Layout = "~/Pages/Shared/_AboutMeLayout.cshtml";
}

<h5 class="pt-3">@ViewData["Title"]</h5>
<p class="lead bg-light small pt-2">Gyuris Csaba vagyok, több éve tanitok informatikát, az utolsó 10 évben pedig szoftverfejlesztést. Tanítottam C++, Python, C#, Java programozási nyelvet. Jártas vagyok a linux környezetben, adminisztráltam moodle rendszert.</p>
<p class="pt-2">Szerenék váltani, és most kezdtem akív munkakeresésbe. Ezért 2022 auguszusától egy szovtverrendszer módszeres fejlesztésében kezdtem.
                Az egyes menüpontokból elérhető kódokat ajánlom azoknak, akik meg akarnak ismerkedni velem és szaktudásommal.</p>
<p class="pt-2">A tanítás során mintapéldám egy elképzelt iskoalai adminisztrációs program, ennek részeit fejlesztjük. 
                Ezen az oldalon azokat a kódokat gyűjtöttem össze, amelyek összegzik a jelenlegi tudásomat 
                valamint számomra is áttekintést nyújtanak különböző technológiákban és kódokban amelyekben jártasságot szereztem.</p>
<p class="pt-2">Telefonos eléhrtőségem: 30/5653930.</p>
<p class=" pt2">
    Lépj kapcsolatba <a href="mailto:gycsaba72ATgmailDOTcom"
                        onclick="this.href=this.href
                .replace(/AT/,'&#64;')
                .replace(/DOT/,'&#46;')">velem</a>...
</p>
