@page
@{
    ViewData["Title"] = "Spring";
    Layout = "~/Pages/Shared/_AboutMeLayout.cshtml";
}

<h5 class="pt-3">@ViewData["Title"]</h5>
<p class="lead bg-light small pt-2">A spring beackend fejlesztéssel már megismerkedtem pár éve és most szisztematikus építkezésben kezdtem az iskolai projektet használva.</p>
<p class="pt-2">Összefoglalva a legfontosabb fejlesztések:</p>
<li class="pt-1"><a class="nav-link text-bg-light" target="_blank" href="https://github.com/java-backend/java-kreta-backend">Repo</a></li>
<li class="pt-1"><a class="nav-link text-bg-light" target="_blank" href="https://github.com/java-backend/java-kreta-backend/tree/production/src/main/java/org/example/kreta">Backend</a></li>
<li class="pt-1"><a class="nav-link text-bg-light" target="_blank" href="https://github.com/java-backend/java-kreta-backend/tree/production/src/main/resources/templates">Thymeleaf</a></li>
